<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media mb-3">
          <% if user.image.url %>
            <%= image_tag(user.image.url, size: "50x50") unless user.image.file.nil? %>
          <% else %>
            <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
          <% end %>
        <div class="media-body">
          <div>
            <%= user.name %>
          </div>
          <div>
            <%= link_to "プロフィールを見る", user_path(user) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>