<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, multipart: true, local: true) do |f| %>
    
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
      </div>
      
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
      </div>
      
      <div class="form-group">
        <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像" %>
      </div>
      
      <%= f.check_box :remove_image, label: 'Remove Image'%><label for="user_remove_image">画像を削除する</label>
      
      <%= f.submit "提出", class: "btn btn-info btn-block" %>
    
    <% end %>
  </div>
</div>