<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
         <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <% if @user.image.url %>
          <img class="img-fluid" src="<%= @user.image %>">
        <% else %>
          <img class="img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
        <% end %>
      </div>
    </div>
    <h4 class="text-center mt-3">
      <%= link_to "情報を更新する", edit_user_path(@user), class: "mb-4" %>
    </h4>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs mb-3 nav-justified">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿  <span class="badge badge-info"><%= @count_weathers %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Following</a></li>
    </ul>
    <%= render "weathers/toppage", weathers: @weathers %>
  </div>
</div>
