<div class="row">
  <div class="col-6">
    <%= form_with(model: weather, local: true) do |f| %>
      <% if weather.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% weather.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group mb-4">
        <%= f.text_field :location, class: "form-control", placeholder: "場所" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :content, class: "form-control", placeholder: "天気" %>
      </div>
      
      <%= f.submit "提出", class: "btn btn-info" %>
    <% end %>
  </div>
</div>