<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Weather now</a>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggle-icon"></span>
  </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "現在の天気", new_weather_path, class: "nav-link" %></li>
          <li class="dropdown navitem">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item text-center"><%= link_to "私のプロフィール", user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item text-center"><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign UP!", new_user_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link" %></li>
        <% end %>
        </ul>
    </div>
  </nav>
</header>