<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Weathernow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <heaaer>
      <%= link_to "一覧に戻る", root_path %>
    </heaaer>
    <%= render "layouts/flash_messages" %>
    <%= yield %>
  </body>
</html>